body {
  padding:30px;
  min-width:975px;
  background-image:url('http://mariev.net/media/images/TT16s.png');

}

.nav {
  float:left;
  width:100%;
}

.nav li{
  list-style:none;
  font-family:Jura, Helvetica, sans-serif;
  font-weight:bold;
  font-size:1.25em;
  float:left;
  padding-left:1.5%;
  padding-right:1.5%;
}

.nav ul{
 list-style: none;
 font-family: Jura, Helvetica, sans-serif;
 float:left;
 padding:6px 10px 5px 10px; 
 width:100%;
 margin:auto;
 height:1.8em;
}


.nav a:hover{
  background:#eeeeee;
  height:1.8em;
  
  
}

.nav a, .nav a:active{
  text-decoration: none;
  padding:10px;
  color: rgb(150,150,150);

}


.brand{
  font-family: 'Rock Salt';
  float: left;
  width:20%;
}  

.brand p{
  font-family: 'Rock Salt';
  font-size: 2.5em;
  margin-left:2.5%;
  margin-top:0;
  margin-bottom:10px;
  line-height:125%;
}



.connect li{
  list-style:none;
  font-family:Jura, Helvetica, sans-serif;
  font-weight:bold;

  float:left;
  margin-right: 1%;
  margin-left:1%;
}

.connect ul{
 list-style: none;
 font-family: Jura, Helvetica, sans-serif;

 padding:0; 
 font-size:.75em;
 width:70%;

 margin:0px 0px 0px 50%;
 height:1.2em;
}

.connect a, .connect a:link, .connect a:hover, .connect a:active{
    color:rgb(150,150,150);
    text-decoration:none;

}


.connect{
    width:100%;
    float:left;

}

.head_img{
  float:right;
  position:relative;
}


.widget_name{
  font-family:'Rock Salt';
  font-size:1.25em;
  color:white;
  margin:0;
  height:2em;
}

.widget_name a, .widget_name a:active{
  text-decoration:none;
  color:white;
  padding:0 5% 0 5%;
  
}

.widget_name a:hover{
    background:#eeeeee;
    color:black;
 }

.post_title{
  font-family:'Jura', 'Helvetica', sans-serif;

  font-weight:normal;
  text-transform:lowercase;
  font-size:1.5em;

  float:left;
  margin:0px;

}

#ramblings {
  font-family:'PT Serif', Georgia, serif;
  font-size:14px;
}
  
#ramblings h1{
  font-family:'Jura', 'Helvetica', sans-serif;
  margin:0;
  font-size:1em;
}

ol{
  padding-left:5%;
}

#ramblings a:active{
  fontsize: 14px;
}

#ramblings figcaption{
    text-align:center;
    font-size:.8em;
 }


#page_container{
    width:90%;
    margin:0px auto 0px auto;
    min-width:975px;
    max-width: 1300px;
    background:white;
}
#header{
  width:90%;
  margin: 0px auto 0px auto;
  padding-top:2.5%;
}

#nav_container{
  width:60%;
  float:left;
  height:125px;}
  
#nav_accent{
    width:20%;
    float:left;
    
}
#content_column{
  clear:left;
  float:left;
  width:82%;
  opacity:.95;
  margin:0px auto 0px auto;
}

#right_column{
  width:15.5%;
  float:left;
  padding-left:2.5%;
}



#footer{
  clear:left;
  width:75%;
  padding:0 1.5% 0 1.5%;
  margin:0;
  background:white;
  font-size:.75em;
}

#footer p{
    opacity:.5;
}

.maintile {
 
padding:19px;
float:left;
height:310px;
}

.maintile a{
    text-decoration:none;
    color:black;
}

.maintile:hover{
    background-color:#eee;
}

.maintile h1{
    height:2em;
 }

.maintile img{
    width: 500px;
}
.view-first img, .main-first img {
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-first .mask, .main-first .mainmask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
/*   background-color: rgba(219,127,8, 0.7);*/
   background-color: rgba(238, 238, 238, 0.5);
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.view-first h2, .main-first h2 {
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first p, .main-first p {
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}

.view-first a.info, .main-first a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first:hover .mask, .main-first:hover .mainMask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info,
.main-first:hover h2,
.main-first:hover p,
.main-first:hover a.info {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
}
.view-first:hover p,
.main-first:hover p {
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.view-first:hover a.info,
.main-first:hover a.info {
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
				
				
.view, .main {
  /* width: 225px;
   height: 150px;*/
   margin: 10px;
   float: left;
  /* border: 10px solid #fff;*/
   overflow: hidden;
   position: relative;
   text-align: center;
   -webkit-box-shadow: 1px 1px 2px #e6e6e6;
   -moz-box-shadow: 1px 1px 2px #e6e6e6;
   box-shadow: 1px 1px 2px #e6e6e6;
   cursor: default;
   
}

.main{
    width:64%;
 }
 .main .mainMask, .main .content,
 .view .mask, .view .content{
     width:100%;
     height: 100%;
  }
  
 .view{
     width:31%;
 }
 

 
.view .mask,.view .content,
.main .mainMask, .main .content {
/*   width: 226px;
   height: 150px;*/
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
   width: 100%;
   border-style: none;
}

.main img {
  display: block;
  position: relative;
  width:100%;
}

.view h2, .main h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: .75em;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 10% 0 0 0;
}
.view p, .main p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 1em;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}
.view a.info, .main a.info {
   display: inline-block;
   text-decoration: none;
   margin-top:10px;
   padding: 20px 80px;
   background: rgba(0, 0, 0, 0.796875);
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
   font-size:.75em;
}
.view a.info: hover, .main a.info {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;
}


