body {

  min-width:975px;
  width: 95%;
 
 /*background-image:url('http://mariev.net/media/images/TT16s.png');*/

}

.nav {
  float:left;
  width:100%;
}

.nav li{
  list-style:none;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
 
  font-size:1.25em;
  float:left;
  padding-left:5px;
  padding-right:5px;
}

.nav ul{
 list-style: none;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
 
 float:left;
 padding:6px 10px 5px 10px; 
 width:100%;
 margin:auto;
 height:1.8em;
}


.nav a:hover{
  height:1.8em;
  color: rgb(0, 180, 180);  
  
}

.nav a, .nav a:active{
  text-decoration: none;
  padding:10px;
  color: rgb(0,180,180);

}


.brand{
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight:300;
  float: left;
  width:45%;
  color:rgb(50, 50, 50);
}  

.brand p{
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight:300;
  font-size: 2.5em;
  margin-left:0;
  margin-top:0;
  margin-bottom:10px;
  line-height:125%;
  text-decoration:none;
  color: rgb(50, 50, 50);
}

.brand a{
color:black;
text-decoration:none;
}

.brand2 p{
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
  font-weight:300;
  font-size: .5em;
  margin-left: 2.5%;
  margin-top:0;
  margin-bottom:10px;
}



.connect li{
  list-style:none;
  font-family:'JuraLight', Helvetica, sans-serif;
  font-weight:bold;

  float:left;
  margin-right: 2%;
  margin-left:2%;
}

.connect ul{
 list-style: none;
 font-family: 'JuraLight', Helvetica, sans-serif;

 padding:0; 
 font-size:.75em;
 width:55%;
 float: right;
 margin:0px 0px 0px 0%;
 height:1.2em;
}

.connect a, .connect a:link, .connect a:hover, .connect a:active{
    color:rgb(150,150,150);
    text-decoration:none;

}

.connect a:hover{
  text-decoration:underline;
 }

.connect{
    width:100%;
    float:left;

}

.head_img{
  float:right;
  position:relative;
}


.widget_name{
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
  font-weight:200;
font-size: 1.25em;
margin: 10px 10px 10px 10px;
line-height: 2em;
text-align: center;
padding: 15px;
background-repeat: no-repeat;
background-size: 300px;
    background:#eeeeee;
}

.widget_name a, .widget_name a:active{
  text-decoration:none;
  height:2em;

  color:black;
  
}


.post_title{
  font-family:'JuraLight', 'Helvetica', sans-serif;

  font-weight:normal;
  text-transform:lowercase;
  font-size:1.5em;

  float:left;
  margin:0px;

}

#ramblings {
font-family: 'PTSerifRegular', Georgia, serif;
font-size: 14px;
width: 60%;
min-width: 650px;
float: left;
margin: 20px auto 0px auto;
}

#ramblings p{
float:left;
}
  
#ramblings h2{
font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
margin: 10px 0 10px 0;
font-size: 1.5em;
line-height: 2em;
font-weight: 100;
background: rgb(240,240,240);
padding-left: 10px;
text-transform:uppercase;
}

  
#ramblings h2:hover{
color:rgb(0,180,180);

}

#ramblings h1{
font-family: 'JuraLight', 'Helvetica', sans-serif;
margin: 0;
font-size: 1.7em;
line-height: 2.1em;
color: #323232;
}

ol{
  padding-left:5%;
}

#ramblings a:active, #ramblings a, #ramblings a:active, #ramblings a:visited{
  font-size: 14px;
  color: rgb(101,101,101);
  text-decoration:none;
}

#ramblings a:hover{
text-transform:none;
}

#ramblings img{
width: 100%;
}

 ol,  ul{
float:left;
}

#ramblings figcaption{
    text-align:center;
    font-size:.8em;
 }


#page_container{
    width:90%;
    margin:0px auto 0px auto;
    min-width:975px;
    max-width: 1300px;
    background:white;
    padding-top:20px;
}
#header{
width: 950px;
margin: 2% auto 0 auto;
  
}

#bulk{
width: 950px;
margin: 0px auto 0px auto;
clear: left;
padding-top: 10px;
}

#nav_container{
  width:55%;
  float:left;
}
  
#content_column{
  clear:left;
  float:left;
  min-width:630px;
  width:63%;
  opacity:.95;
  margin:0px auto 0px auto;
}

#right_column{
float: left;
padding-left: 2.5%;
width: 28%;
margin-top: 20px;
}

#right_column a, #right_column a:visited{
  color:black;
  text-decoration:none;
}

#right_column a:hover{
color:rgb(0, 180, 180);
text-decoration:none;
}
#footer{
  clear:left;
  width:75%;
  padding:0 1.5% 0 1.5%;
  margin:0;
  background:white;
  font-size:.75em;
}

#footer p{
    opacity:.5;
}

#cse-search-box{
width:90%;
margin: 0px 5% 0px 5%;
}
