body {
  margin:0;
  min-width:975px;
  width: 95%;
 }
 
#topnav{
    width:100%;
    min-height:20px;
    height: 5%;
    
}

#mainblock{
    width:1050px;
    margin:0 auto 0 auto;
}

#mainnav{
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

#brand{
width: 20%;
text-align: right;
font-size: 1.9em;
color: rgb(101,101,101);
font-weight: 100;
text-transform: uppercase;
letter-spacing:2.5px;
}

#categories li, #categories ul{
    list-style:none;
}

#categories li{
    float:left;
}