<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head >
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title> {% if page.title %} {{ page.title }} | {% endif %} Marie V </title>
  <link rel="stylesheet" href="http://mariev.net/media/css/style.css" />
  <link rel="stylesheet" id="hatch_fancybox-stylesheet-css" href="http://mariev.net/media/css/jquery.fancybox-1.3.4.css" type="text/css" media="screen">
  
<script type="text/javascript" src="http://mariev.net/media/js/jquery.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="http://mariev.net/media/js/jquery.fancybox-1.3.4.pack.js"></script>

  <!-- Style settings -->
  <style type="text/css" media="all">
  html { font-size: 16px; }
  body { font-family: Helvetica, serif; }
  a, a:visited, #footer a:hover, .entry-title a:hover { color: #64a2d8; }
  a:hover, a:focus { color: #000; }
  #site-title {
  font-family: Helvistica, sans-serif;
  font-size: 28px;
  color: #fff;
  }
  </style>
</head>
<body class="wordpress ltr en_US parent-theme y2012 m08 d31 h22 friday logged-out custom-header home blog">

  <div id="container">
    <div class = "wrap">
      <div id = "header">
        <div id = "branding">
          <h1 id = "site-title"><a href = "" title = "{{page.title}}"> {{page.title}} </a></h1>
        </div> 
         <div id = "menu-primary" class = "menu-container">
   
      </div>
     </div>
      {{content}}

    

<script type="text/javascript" src="http://mariev.net/media/js/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="http://mariev.net/media/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="http://mariev.net/media/js/footer-scripts.js"></script>
<script type="text/javascript" src="http://mariev.net/media/js/drop-downs.js"></script>
    <div style = "clear:both">
    <br><br>
    © 2012 All Rights Reserved
    <br></div>
</body>
</html>
